<%- layout("boiler")-%>
    <div style="margin-top: 10px;">
        <h2 style="text-align: center;">View Data</h2>
    </div>
    <%- include("nav")-%>
    <button type="submit"> <a href="/viewstd">VIEW</button></a> 