<%- layout("boiler")-%>
    <div style="margin-top: 10px;">
        <h2 style="text-align: center;">Marks</h2>
    </div>
    <%- include("nav")-%>
        <div class="container">
            <form>
                <div style="background-color:bisque" class="container mt-5  p-5">
                    <div class="mb-3">
                        STUDENT ID<br>
                        <input type="text" name="rollno" class="form-control">
                    </div>
                    <div class="mb-3">
                        CGPA<br>
                        <input type="number" name="cgpa" class="form-control">
                    </div>
                    <div class=" mb-4">
                        BACKLOGS<br>
                        <input type="number" name="arrear" class="form-control">
                    </div>
                    <div align="center">
                        <button type="submit" formaction="/marks" formmethod="post"
                            class="btn btn-success">SUBMIT</button>
                        <button formaction="/viewmarks" formmethod="get" class="btn btn-secondary">VIEW
                        MARKS</button>
                        <button formaction="/deletemarks" formmethod="post" class="btn btn-danger">DELETE MARKS</button>
                        <button formaction="/updatemarks" formmethod="post" class="btn btn-primary">UPADATE
                            MARKS</button>
                    </div>
                </div>
                <div class="mb-3">
                    CGPA GREATER THAN<br>
                    <input type="number" name="greater" class="form-control"> <br>
                    <button align="center" formaction="/greater_cgpa" formmethod="post" class="btn btn-danger">CHECK</button>
                </div>
                
        </div>
        </form>
        </div>