<%- layout("boiler")-%>
    <div style="margin-top: 10px;">
        <h2 style="text-align: center;">View Data</h2>
    </div>
    <%- include("nav")-%>
        <div align="center" style="margin-top: 10%;">
            <div class="container row text-center">
                <div class="col-md-3 ">
                    <div class="overlay">
                        <a href="/viewstaff"> <img
                                src="https://cdn3.iconfinder.com/data/icons/team-management/136/28-512.png" alt="staff"
                                style="width:150px; height:150px;"></a>
                        <h5> <a href="/viewstaff" style="text-decoration: none; color: black;"> Staff Details </a></h5>
                    </div>
                </div>
                <div class="col-md-3"><a href="/viewstudent">
                        <img src="https://www.pinclipart.com/picdir/big/536-5365222_vector-student-icon-png-clipart.png"
                            alt="student" style="width:150px; height:150px;"></a>
                    <h5><a href="/viewstudent" style="text-decoration: none; color: black;">Student Details</a>
                    </h5>
                </div>
                <div class="col-md-3"> <a href="/viewmarks">
                        <img src="https://www.shareicon.net/download/2017/02/07/878410_check_512x512.png" alt="marks"
                            style="width:150px; height:150px;"></a>
                    <h5><a href="/viewmarks" style="text-decoration: none; color: black;">Mark Details</a>
                    </h5>
                </div>
                <div class="col-md-3"> <a href="/joinstudent">
                        <img src="https://thumbs.dreamstime.com/b/join-button-20858595.jpg" alt="marks"
                            style="width:150px; height:150px;"></a>
                    <h5><a href="/joinstudents" style="text-decoration: none; color: black;">Join Operation</a>
                    </h5>
                </div>

            </div>
        </div>